/* ham menu */

.ham-menu {
    height: 30px;
    width: 35px;
    margin-left: 30px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.ham-menu span {
    height: 3px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

i{
    color: #757575;
}

@media (width<=1000px) {
  .ham-menu{
    display: block;
  }
}