:root {
    --aqua: #00B3BB;
    --light-aqua: #00E6AA;
    --dark-aqua: #0E9AA1;
    --grey: #E6E6E6;
    --light-grey: #F7F7F7;
    --dark-grey: #757575;
    --white: #FFFFFF;
    --green: #61B874;
    --yellow: #E6DB7B;
    --red: #E67B7B;
    --dark-red: #C46161;
}